.Big-Pink {
  color: rgb(254, 199, 229);
  font-size: 100px;
  font-family: Snell Roundhand, cursive;
  text-align: center;
  font-weight: 900;
  padding-top: 15px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
