html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  background-color: rgb(255, 227, 243);
}

p {
  padding-right: 15px;
}

.terminalBox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 900px;
  height: 600px;
  background-color: white;
  border-radius: 15px;
  border-width: 0.85px;
  border-style: solid;
  border-color: black;
  z-index: 1;
}

.terminalBoxShadow {
  position: absolute;
  top: 52%;
  left: 51.9%;
  transform: translate(-50%, -50%) translate(10px, 10px);
  width: 900px;
  height: 600px;
  background-color: rgb(217, 217, 217);
  border-radius: 15px;
  z-index: 0;
}

.terminalBoxHeader {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 900px;
  height: 58px;
  background-color: rgb(252, 130, 205);

  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;

  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 0.85px solid black;

  display: flex;
  font-family: "Monaco", monospace;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  color: white;
}

.redCircle,
.yellowCircle,
.greenCircle {
  position: absolute;
  top: calc(18px);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 0.85px solid black;
}

.redCircle {
  left: calc(50% - 900px / 2 + 20px);
  background-color: rgb(255, 111, 111);
}

.yellowCircle {
  left: calc(50% - 900px / 2 + 55px);
  background-color: #ffc56f;
}

.greenCircle {
  left: calc(50% - 900px / 2 + 90px);
  background-color: #79db71;
}

.homePrompt1,
.homePrompt2,
.homePrompt3,
.homePrompt4,
.experiencePrompt0,
.experiencePrompt1,
.experiencePrompt2,
.experiencePrompt3,
.experiencePrompt4,
.experiencePrompt5,
.projectsPrompt1,
.projectsPrompt2,
.projectsPrompt3,
.hobbiesPrompt1,
.hobbiesPrompt2,
.hobbiesPrompt3,
.hobbiesPrompt4 {
  position: absolute;
  left: 15px;
  font-family: "Monaco", monospace;
  font-size: 20px;
  color: #ff5dc1;
  font-weight: bold;
  text-shadow: 0.1px 0 #ff5dc1, -0.1px 0 #ff5dc1, 0 0.1px #ff5dc1,
    0 -0.1px #ff5dc1;
}

.experiencePrompt1 {
  top: -20px;
  left: 0px;
}

.experienceText1 {
  top: -67px;
  padding-left: 30px;
}

.experiencePrompt2 {
  top: -72px;
  left: 0px;
}

.experienceText2 {
  top: -119px;
  padding-left: 30px;
}

.experiencePrompt3 {
  top: -126.5px;
  left: 0px;
}

.experienceText3 {
  top: -173.5px;
  padding-left: 30px;
}

.experiencePrompt4 {
  top: -177px;
  left: 0px;
}

.experienceText4 {
  top: -224.5px;
  padding-left: 30px;
}

.experiencePrompt5 {
  top: -223px;
  left: 0px;
}

.experienceText5 {
  top: -270.5px;
  padding-left: 30px;
}

.experienceLine {
  margin: 0 0 6px 0;
}

#experienceModal .experiencePrompt0,
#experienceModal .experiencePrompt1,
#experienceModal .experiencePrompt2,
#experienceModal .experiencePrompt3,
#experienceModal .experiencePrompt4,
#experienceModal .experiencePrompt5,
#experienceModal .experienceText0,
#experienceModal .experienceText1,
#experienceModal .experienceText2,
#experienceModal .experienceText3,
#experienceModal .experienceText4,
#experienceModal .experienceText5 {
  position: static;
  display: inline;
  left: auto;
  top: auto;
  margin: 0;
}

#experienceModal .experienceDescription0,
#experienceModal .experienceDescription1,
#experienceModal .experienceDescription2,
#experienceModal .experienceDescription3,
#experienceModal .experienceDescription4 {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  margin: 0 0 22px 0;
}

/* Experience modal layout overrides */
#experienceModal .experienceLine {
  margin: 0 0 8px 0;
  line-height: 1.4;
}

#experienceModal .experienceLine .experiencePrompt0,
#experienceModal .experienceLine .experiencePrompt1,
#experienceModal .experienceLine .experiencePrompt2,
#experienceModal .experienceLine .experiencePrompt3,
#experienceModal .experienceLine .experiencePrompt4,
#experienceModal .experienceLine .experiencePrompt5,
#experienceModal .experienceLine .experienceText0,
#experienceModal .experienceLine .experienceText1,
#experienceModal .experienceLine .experienceText2,
#experienceModal .experienceLine .experienceText3,
#experienceModal .experienceLine .experienceText4,
#experienceModal .experienceLine .experienceText5 {
  position: relative;
  top: 0;
  left: 0;
  display: inline;
  margin: 0;
}

.experienceText0 {
  padding-left: 30px;
}

/* Projects modal layout overrides */
#projectsModal .projectsPrompt1,
#projectsModal .projectsPrompt2,
#projectsModal .projectsPrompt3,
#projectsModal .projectsText1,
#projectsModal .projectsText2,
#projectsModal .projectsText3 {
  position: static;
  display: inline;
  left: auto;
  top: auto;
  margin: 0;
}

#projectsModal .projectsLine {
  margin: 0 0 8px 0;
  line-height: 1.4;
}

#projectsModal .projectsLine .projectsPrompt1,
#projectsModal .projectsLine .projectsPrompt2,
#projectsModal .projectsLine .projectsPrompt3,
#projectsModal .projectsLine .projectsText1,
#projectsModal .projectsLine .projectsText2,
#projectsModal .projectsLine .projectsText3 {
  position: relative;
  top: 0;
  left: 0;
  display: inline;
  margin: 0;
}

#projectsModal .projectsLine .projectsText1,
#projectsModal .projectsLine .projectsText2,
#projectsModal .projectsLine .projectsText3 {
  padding-left: 30px;
}

#projectsModal .projectsDescription1,
#projectsModal .projectsDescription2 {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  margin: 0 0 22px 0;
}

#projectsModal .facDir {
  position: relative;
  margin: 0 auto 22px;
  top: 0;
}

.projectsPrompt1 {
  top: -20px;
  left: 0px;
}

.projectsText1 {
  top: -67px;
}

.projectsPrompt2 {
  top: -72px;
  left: 0px;
}

.projectsText2 {
  top: -119px;
}

.projectsPrompt3 {
  top: -126.5px;
  left: 0px;
}

.projectsText3 {
  top: -173.5px;
}

.hobbiesPrompt1 {
  top: -20px;
  left: 0px;
}

.hobbiesText1 {
  top: -67px;
}

.hobbiesPrompt2 {
  top: -72px;
  left: 0px;
}

.hobbiesText2 {
  top: -119px;
}

.hobbiesPrompt3 {
  top: 20px;
  left: 0px;
}

.hobbiesText3 {
  top: -26px;
}

.hobbiesPrompt4 {
  top: -605px;
  left: 0px;
  margin-bottom: -200px;
}

.hobbiesText4 {
  top: -452px;
  margin-bottom: -200px;
}

.homeText1,
.homeText2,
.homeText3,
.homeText4 {
  left: 145px;
}

.experienceText1,
.experienceText2,
.experienceText3,
.experienceText4,
.experienceText5,
.projectsText1,
.projectsText2,
.projectsText3 {
  left: 205px;
}

.hobbiesText1,
.hobbiesText2,
.hobbiesText3,
.hobbiesText4 {
  left: 175px;
}

.homeText1,
.homeText2,
.homeText3,
.homeText4,
.experienceText0,
.experienceText1,
.experienceText2,
.experienceText3,
.experienceText4,
.experienceText5,
.projectsText1,
.projectsText2,
.projectsText3,
.hobbiesText1,
.hobbiesText2,
.hobbiesText3,
.hobbiesText4 {
  position: absolute;
  font-family: "Monaco", monospace;
  font-size: 20px;
  color: #e163ab;
}

.homeText1,
.homeText2,
.homeText3,
.homeText4 {
  left: 145px;
}

.homePrompt1,
.homeText1 {
  top: 75px;
}

.homePrompt2,
.homeText2 {
  top: 112px;
}

.homePrompt3,
.homeText3 {
  top: 321px;
}

.homePrompt4,
.homeText4 {
  top: 457px;
}
.homeText4 {
  animation: blink 1.25s steps(1, start) infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.homeDescription1,
.homeDescription2,
.homeDescription3,
.homeDescription4,
.homeDescription5,
.homeDescription6,
.homeDescription7,
.homedescription1,
.homedescription2,
.homedescription3,
.homedescription4,
.homedescription5,
.homedescription6,
.homedescription7,
.experienceDescription0,
.experienceDescription1,
.experienceDescription2,
.experienceDescription3,
.experienceDescription4,
.projectsDescription1,
.projectsDescription2,
.hobbiesDescription1,
.hobbiesDescription2,
.hobbiesDescription3 {
  position: absolute;
  font-family: "Monaco", monospace;
  font-size: 20px;
  color: #fc94d4;
}

.experiencePrompt1,
.experiencePrompt2,
.experiencePrompt3,
.experiencePrompt4,
.experiencePrompt5,
.experiencePrompt0,
.hobbiesPrompt1,
.hobbiesPrompt2,
.hobbiesPrompt3,
.hobbiesPrompt4,
.projectsPrompt1,
.projectsPrompt2,
.projectsPrompt3,
.experienceText1,
.experienceText2,
.experienceText3,
.experienceText4,
.experienceText5,
.experienceText0,
.projectsText1,
.projectsText2,
.projectsText3,
.hobbiesText1,
.hobbiesText2,
.hobbiesText3,
.hobbiesText4,
.experienceDescription1,
.experienceDescription2,
.experienceDescription3,
.experienceDescription4,
.projectsDescription1,
.projectsDescription2,
.hobbiesDescription1,
.hobbiesDescription2,
.hobbiesDescription3,
.facDir,
.walk1,
.walk2,
.walk3,
.sparkle1,
.sparkle3,
.art1,
.art2,
.art3,
.art4,
.book,
.movie,
.song {
  position: relative;
  display: block;
}

.homeDescription1,
.homedescription1 {
  top: 149px;
  left: 15px;
}

.homeDescription2,
.homedescription2 {
  top: 358px;
  left: 15px;
}

.homeDescription3,
.homedescription3 {
  top: 388px;
  left: 15px;
}

.homeDescription4,
.homedescription4 {
  top: 418px;
  left: 15px;
}

.homeDescription5,
.homedescription5 {
  top: 358px;
  left: 245px;
}

.projectsDescription1 {
  top: -121px;
  left: 0px;
}

.projectsDescription2 {
  top: -175px;
  left: 0px;
}

.facDir {
  width: 65%;
  max-width: 850px;
  margin: -100px auto 20px;
}

.experienceDescription1 {
  top: -121px;
  left: 0px;
}

.experienceDescription2 {
  top: -175px;
  left: 0px;
}

.experienceDescription3 {
  top: -224px;
  left: 0px;
}

.experienceDescription4 {
  top: -268px;
  left: 0px;
  margin-bottom: -350px;
}

.hobbiesDescription1 {
  top: -121px;
  left: 0px;
}

.walk3 {
  top: -45px;
  padding-left: 60px;
  width: 230px;
}

.walk1 {
  top: -390px;
  left: 320px;
  width: 350px;
  z-index: 10;
}

.walk2 {
  margin-top: -430px;
  padding-left: 525px;
  width: 350px;
}

.sparkle1 {
  top: -310px;
  left: 675px;
  width: 135px;
  z-index: 100;
  margin-bottom: -130px;
  animation: pulse 2s infinite ease-in-out;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.sparkle3 {
  top: -780px;
  left: 60px;
  width: 190px;
  z-index: 100;
  margin-bottom: -160px;
  animation: swirl 3s infinite linear;
  transform-origin: center;
}

@keyframes swirl {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-6deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(6deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.art1 {
  top: 50px;
  padding-left: 30px;
  width: 220px;
}

.art2 {
  top: -90px;
  left: 200px;
  width: 185px;
}

.art3 {
  top: -450px;
  left: 410px;
  width: 210px;
}

.art4 {
  top: -700px;
  left: 642px;
  width: 255px;
}

.book {
  top: 0px;
  left: 60px;
  width: 240px;
  margin-bottom: -500px;
  transition: box-shadow 0.2s ease;
}

.book:hover {
  box-shadow: 0 6px 20px rgba(255, 21, 169, 0.8);
  cursor: pointer;
}

.movie {
  top: 140px;
  left: 355px;
  width: 240px;
  margin-bottom: -200px;
  transition: box-shadow 0.2s ease;
}

.movie:hover {
  box-shadow: 0 6px 20px rgba(255, 245, 59, 0.8);
  cursor: pointer;
}

.song {
  top: 35px;
  left: 650px;
  width: 240px;
  margin-bottom: -200px;
  transition: box-shadow 0.2s ease;
}

.song:hover {
  box-shadow: 0 6px 20px rgba(118, 180, 213, 0.8);
  cursor: pointer;
}

.hobbiesDescription2 {
  top: -27px;
  left: 0px;
}

.hobbiesDescription3 {
  top: -250px;
  left: 0px;
  margin-bottom: -200px;
}

.carrot {
  display: none;
  position: absolute;
  left: 113%;
  top: 41%;
  transform: translateY(-50%);
  font-size: 27px;
}

.homeDescription2:hover,
.homeDescription3:hover,
.homeDescription4:hover,
.homeDescription5:hover,
.homeDescription6:hover,
.homeDescription7:hover,
.homedescription2:hover,
.homedescription3:hover,
.homedescription4:hover,
.homedescription5:hover,
.homedescription6:hover,
.homedescription7:hover {
  color: #ffb7e3;
  cursor: pointer;
}

.homeDescription2:hover .carrot,
.homeDescription3:hover .carrot,
.homeDescription4:hover .carrot,
.homeDescription5:hover .carrot,
.homeDescription6:hover .carrot,
.homeDescription7:hover .carrot,
.homedescription2:hover .carrot,
.homedescription3:hover .carrot,
.homedescription4:hover .carrot,
.homedescription5:hover .carrot,
.homedescription6:hover .carrot,
.homedescription7:hover .carrot {
  display: block;
}

.homeDescription6,
.homedescription6 {
  top: 388px;
  left: 245px;
}

.homeDescription7,
.homedescription7 {
  top: 418px;
  left: 245px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.modalBoxShadow {
  position: absolute;
  top: 52%;
  left: 51.9%;
  transform: translate(-50%, -50%) translate(10px, 10px);
  width: 1000px; /* 900 + 100 */
  height: 700px; /* 600 + 100 */
  background-color: rgba(217, 217, 217, 1);
  border-radius: 15px;
  z-index: -1;
}

.modalBox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  width: 1000px;
  height: 700px;
  background-color: white;
  border-radius: 15px;
  border: 0.85px solid black;
  display: flex;
  flex-direction: column;
  transition: transform 0.5s ease, opacity 0.5s ease;
  opacity: 0;
}

.modalBox.active {
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
}

.modalBoxHeader {
  position: relative;
  width: 100%;
  height: 58px;
  background-color: rgb(252, 130, 205);

  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom: 0.85px solid black;

  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Monaco", monospace;
  font-size: 25px;
  color: white;
}

.redCircle,
.yellowCircle,
.greenCircle {
  position: absolute;
  top: 18px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 0.85px solid black;
}
.redCircle {
  left: 20px;
  background-color: rgb(255, 111, 111);
}
.yellowCircle {
  left: 55px;
  background-color: #ffc56f;
}
.greenCircle {
  left: 90px;
  background-color: #79db71;
}

.modalContent {
  flex: 1;
  padding: 20px;
  font-family: "Monaco", monospace;
  font-size: 18px;
  color: #e163ab;
  overflow-y: auto;
  overflow-x: hidden;
  white-space: normal;
  word-wrap: break-word;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.redCircle1 {
  position: absolute;
  top: 18px;
  left: calc(50% - 1000px / 2 + 20px);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 0.85px solid black;
  background-color: rgb(255, 111, 111);
  display: flex;
  justify-content: center;
  align-items: center;
}

.closeBtn {
  font-size: 18px;
  color: black;
  display: none;
  cursor: pointer;
  top: -100%;
  line-height: 1;
  position: relative;
  top: -1.4px;
}

.redCircle1:hover .closeBtn {
  display: block;
}

.modalContent::-webkit-scrollbar {
  width: 30px;
}

.modalContent::-webkit-scrollbar-track {
  background: #f7f7f7;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 15px;
}

.modalContent::-webkit-scrollbar-thumb {
  background-color: #ededed;
  border-radius: 15px;
  border-width: 5px;
  border-style: solid;
  border-color: #f7f7f7;
}

.modalContent::-webkit-scrollbar-thumb:hover {
  background-color: #e3e3e3;
  border-radius: 15px;
  border-width: 5px;
  border-style: solid;
  border-color: #f7f7f7;
}

.modalBoxShadow {
  opacity: 0;
  transition: opacity 0.2s;
}
